# Node.js dependencies
/node_modules/

# Build output
/build/
/dist/

# React specific
/.cache/
/public/static/

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store         # macOS
Thumbs.db         # Windows

# IDE/editor specific
.idea/            # JetBrains IDEs
.vscode/          # VSCode

# Testing coverage
coverage/

# Optional npm cache directory
.npm/

# Package-lock and yarn.lock (can be kept for deterministic builds, optional)
package-lock.json
yarn.lock

# Webpack specific
/.webpack/

